body {
    color: white;
    font-family: Arial, sans-serif;
  }

  ul.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    position: relative;
    list-style: none;
  }
  
  li.nav-item {
    float: left;
    margin: 0;
  }
  
  ul.navbar a {
    color: #7fbbfc;
    text-decoration: none;
    font-weight: bold;
    margin: 0 20px;
  }
  
  ul.navbar a:hover {
    color: #037dff;
  }
  
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: #cfdbe8;
    font-family: Arial, sans-serif;
  }

  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
  }
  .title {
    font-size: 36px;
    font-weight: bold;
    color: #96c9ff;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 20px;
    padding: 20px;
  }
  .camera {
    width: 600px;
    height: 450px;
    border: 5px solid #96c9ff;
    background-position: center;
  }
  .logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  .text {
    width: 600px;
    height: 50px;
    border: 5px solid #96c9ff;
    margin-top: 20px;
    font-size: 24px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
  }

  .footer-text {
    font-size: 18px;
    color: #96c9ff;
  }
