<header class="site-header" id="mainHeader">
<link rel="stylesheet" href="style.css">
  <div id="header">
    <nav>
      <ul class="navbar" id="navbar">
        <li class="nav-item"><a href="{{site.baseurl}}/">Home</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/reference">ASL Reference Page (A-Z)</a></li>
        <li class="nav-item"><a href="{{site.baseurl}}/login">Login</a></li>
      </ul>
    </nav>
  </div>
</header>

<script>
  function isLoggedIn(cookieName) {
    const cookies = document.cookie.split(' ');
    console.log(cookies);
    for (const cookie of cookies) {
      const [name, value] = cookie.trim().split('=');
      if (name === cookieName) {
        return true;
      }
    }
    return false;
  }

  function updateHeader() {
    const mainHeader = document.getElementById('mainHeader');
    const navbar = document.getElementById('navbar');
    const login = document.getElementById('login');
    const home = document.getElementById('home');

    fetch("http://localhost:8085/api/person/jwt", {
      method: "GET",
      credentials: "include",
    })
      .then((response) => {
        if (response.ok) {
          navbar.innerHTML=``;
          navbar.innerHTML = `
            <li class="nav-item"><a href="{{site.baseurl}}/main">Home</a></li>
            <li class="nav-item"><a href="{{site.baseurl}}/game">Game</a></li>
            <li class="nav-item"><a href="{{site.baseurl}}/leaderboard">Leaderboard</a></li>
            <li class="nav-item"><a href="{{site.baseurl}}/reference">ASL Reference Page (A-Z)</a></li>
            <li class="nav-item"><a href="{{site.baseurl}}/account">Account</a></li>;
      `;
    } else {
        navbar.innerHTML = `
          <li class="nav-item" id="login"><a href="{{site.baseurl}}/login">Login</a></li>
          <li class="nav-item" id="home"><a href="{{site.baseurl}}/">Home</a></li>
          <li class="nav-item"><a href="{{site.baseurl}}/reference">ASL Reference Page (A-Z)</a></li>
        `}
      })
      .catch((error) => {
        console.log("Error checking login status:", error);
      });
  }

  updateHeader();
</script>
